<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.handsome.admin.auth.bean.SiteUser" alias="aliasesUser"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/siteuser_mapper.xml" />
	</mappers>
</configuration>
 