<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="ec.api.EC">
	<sql id="cols">
		ecId,ecName,`desc`,createDate,updateDate
	</sql>
	<sql id="ucols">
		#{ecId},#{ecName},#{desc},#{createDate},#{updateDate}
	</sql>

	<!-- 查询列表 -->
	<select id="list" parameterType="java.util.Map" resultType="aliasesEC">
		select
		<include refid="cols" />
		from t_ec where 1=1
		<if test="ecName != null and ecName != ''">
			ecName like CONCAT('%','${ecName}','%')
		</if>
		ORDER BY createDate DESC LIMIT #{offset},#{rows}
	</select>

	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM t_ec;
	</select>

	<!-- 查询一个企业 -->
	<select id="find" parameterType="aliasesEC" resultType="aliasesEC">
		select
		<include refid="cols" />
		from t_ec
		<where>
			ecId = #{ecId, jdbcType=VARCHAR}
		</where>
	</select>

	<!-- 新增 -->
	<insert id="create" parameterType="aliasesEC">
		insert into t_ec (
		<include refid="cols" />
		)
		values(
		<include refid="ucols" />
		)
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="aliasesEC">
		update t_ec
		<set>
			<if test="desc!=null">
				desc=#{desc},
			</if>
			<if test="updateDate!=null">
				updateDate=#{updateDate},
			</if>
		</set>

		where ecId=#{ecId}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		delete from t_ec where
		ecId=#{ecId}
	</delete>

</mapper>