<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="siteuser.api.SiteUser">
	<sql id="cols">
		siteUserId,account,password,authorities,enabled,ecName,reserve0,reserve1,reserve2,reserve3,reserve4,reserve5,reserve6,reserve7,reserve8,reserve9,createDate,updateDate
	</sql>
	<sql id="ucols">
		#{siteUserId},#{account},#{password},#{authorities},#{enabled},#{ecName},#{reserve0},#{reserve1},#{reserve2},#{reserve3},#{reserve4},#{reserve5},#{reserve6},#{reserve7},#{reserve8},#{reserve9},#{createDate},#{updateDate}
	</sql>

	<!-- 查询列表 -->
	<select id="list" parameterType="java.util.Map" resultType="aliasesSiteUser">
		select
		<include refid="cols" />
		from t_siteuser where 1=1
			<if test="runTimeAuthorities != null and runTimeAuthorities != 1">
				and authorities in ('2','3')
			</if>
			<if test="ecName != null and ecName != ''">
				and ecName = CONCAT('${ecName}')
			</if>
			<if test="ecName != null and ecName != ''">
				and ecName = CONCAT('${ecName}')
			</if>
			<if test="account != null and account != ''">
				and account like CONCAT('%','${account}','%' )
			</if>
			<if test="reserve0 != null and reserve0 != ''">
				and reserve0 like CONCAT('%','${reserve0}','%' )
			</if>
			<if test="reserve1 != null and reserve1 != ''">
				and reserve1 like CONCAT('%','${reserve1}','%' )
			</if>
			<if test="reserve2 != null and reserve2 != ''">
				and reserve2 like CONCAT('%','${reserve2}','%' )
			</if>
			<if test="reserve3 != null and reserve3 != ''">
				and reserve3 like CONCAT('%','${reserve3}','%' )
			</if>
			<if test="reserve4 != null and reserve4 != ''">
				and reserve4 like CONCAT('%','${reserve4}','%' )
			</if>
			<if test="reserve5 != null and reserve5 != ''">
				and reserve5 like CONCAT('%','${reserve5}','%' )
			</if>
			<if test="reserve6 != null and reserve6 != ''">
				and reserve6 like CONCAT('%','${reserve6}','%' )
			</if>
			<if test="reserve7 != null and reserve7 != ''">
				and reserve7 like CONCAT('%','${reserve7}','%' )
			</if>
			<if test="reserve8 != null and reserve8 != ''">
				and reserve8 like CONCAT('%','${reserve8}','%' )
			</if>
			<if test="reserve9 != null and reserve9 != ''">
				and reserve9 like CONCAT('%','${reserve9}','%' )
			</if>
		ORDER BY createDate DESC LIMIT #{offset},#{rows}
	</select>
	
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM t_siteuser;
	</select>

	<!-- 查询一个用户 -->
	<select id="find" parameterType="aliasesSiteUser" resultType="aliasesSiteUser">
		select
		<include refid="cols" />
		from t_siteuser where 1=1
			<if test="siteUserId != null and siteUserId != ''">
				and siteUserId = #{siteUserId, jdbcType=VARCHAR}
			</if>
			<if test="account != null and account != ''">
				and account = #{account, jdbcType=VARCHAR}
			</if>
	</select>

	<!-- 新增 -->
	<insert id="create" parameterType="aliasesSiteUser">
		insert into t_siteuser (
		<include refid="cols" />
		)
		values(
		<include refid="ucols" />
		)
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="aliasesSiteUser">
		update t_siteuser
		<set>
			<if test="ecName!=null">
				ecName=#{ecName},
			</if>
			<if test="password!=null">
				password=#{password},
			</if>
			<if test="enabled!=null">
				enabled=#{enabled},
			</if>
			<if test="authorities!=null">
				authorities=#{authorities},
			</if>
			<if test="siteUserId!=null">
				reserve0=#{reserve0},
			</if>
			<if test="siteUserId!=null">
				reserve1=#{reserve1},
			</if>
			<if test="siteUserId!=null">
				reserve2=#{reserve2},
			</if>
			<if test="siteUserId!=null">
				reserve3=#{reserve3},
			</if>
			<if test="siteUserId!=null">
				reserve4=#{reserve4},
			</if>
			<if test="siteUserId!=null">
				reserve5=#{reserve5},
			</if>
			<if test="siteUserId!=null">
				reserve6=#{reserve6},
			</if>
			<if test="siteUserId!=null">
				reserve7=#{reserve7},
			</if>
			<if test="siteUserId!=null">
				reserve8=#{reserve8},
			</if>
			<if test="siteUserId!=null">
				reserve9=#{reserve9},
			</if>
			<if test="updateDate!=null">
				updateDate=#{updateDate},
			</if>
		</set>

		where siteUserId=#{siteUserId}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		delete from t_siteuser where siteUserId=#{siteUserId}
	</delete>

</mapper>