div.container {width:90%;margin: 2% auto;}
.clearfix:after {content: " "; display: block; clear: both; height: 0;}
.float-left {float: left;}

div.teacher {border-bottom: 1px solid #DDDDDD;padding-bottom: 4px;}
div.info {margin-left: 20px;margin-top: 15px}
div.info .name{font-weight: bold;margin-bottom: 5px;}
span.super {color: black;display: inline-block;padding: 2px 5px;margin-right: 5px;}
span.super1 {background-color: #FF7744;}
span.super2 {background-color: #00FF99;}
span.super3 {background-color: red;}
.center-button {margin: 0 auto; padding: 2px 5px;border: 1px solid #AAAAAA; border-radius: 2px;background-color: #77FFEE}