<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>demo html5 page</title>
<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
<script src="../../../static/js/jquery-3.1.1.min.js"></script>
<script src="../../../static/js/vue.min.js"></script>
<script src="../../../static/js/bootstrap.min.js"></script>

</head>
<body>
<!-- <div id="userlist">
		<table>
			<thead>
				<tr>
					<th style='width: 3%; text-align: left'>账号</th>
					<th style='width: 5%; text-align: left'>年龄</th>
					<th style='width: 10%; text-align: left'>创建时间</th>
					<th style='width: 10%; text-align: left'>邮件</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in items">
					<td>{{item.account}}</td>
					<td>{{item.age}}</td>
					<td>{{item.createdate}}</td>
					<td>{{item.email}}</td>
				</tr>
			</tbody>
		</table>
		<button v-on:click="showData()">查询</button>
	</div> -->
	<div id="app">
		<p>{{ message }}</p>
		<button v-on:click="showData">显示数据</button>
		<label for="account">账号：</label> <span id="title">{{ message }}
			</h1> <input type="text" class="form-control" id="account"
			placeholder="请输入" v-model="message">
	</div>
</body>
<script>
	new Vue({
		el : '#app',
		data : {
			message : 'hello'
		},
		methods : {
			showData : function() {
				var _self = this;
				$.ajax({
					type : 'GET',
					dataType : "json",
					url : '/admin/user/findUser.do?account=chencheng',
					success : function(data) {
						//JSON.stringify();
						_self.message = data.account;
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						alert(errorThrown);
					}
				});
			}
		}
	})
</script>
</html>
