<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>用户列表</title>
<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
<script src="../../../static/js/jquery-3.1.1.min.js"></script>
<script src="../../../static/js/vue.min.js"></script>
<script src="../../../static/js/bootstrap.min.js"></script>

</head>
<body>

	<div id="userlist">
		<nobr>
			<label for="account">账号：</label> <input type="text"
				class="form-control" id="account" placeholder="请输入"
				v-model="condition.account"></input>
			<button v-on:click="showData()">查询</button>
		</nobr>
		<div class="list-group">
			<a v-for="item in items" href="#" class="list-group-item">
				<h4 class="list-group-item-heading">{{item.account}}</h4>
				<p class="list-group-item-text">{{item.email}}</p>
			</a>
		</div>
	</div>
</body>
<script>
	var usersVue = new Vue({
		el : '#userlist',
		data : {
			items : [],
			condition : {
				account : ""
			}
		},
		methods : {
			showData : function() {
				var _self = this;
				$.ajax({
					type : 'GET',
					dataType : "json",
					data : _self.condition,
					url : '/admin/user/queryUsers.do',
					success : function(data) {
						//JSON.stringify();
						_self.items = data.userlist;
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						alert(errorThrown);
					}
				});
			}
		}
	})
</script>
</html>
